@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.btn{
  text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: white;
    border-radius: 5px;
    height: 42px;
    margin-left: 10px;
    padding: 5px 30px;
    background-color: rgb(0, 39, 83);
}
.btn:hover{
  background-color: rgb(5, 34, 67);
}

input {
  color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 4px;
    height: 40px;
}

